<div class="comments">

  <h2>Send an anounimous and private message:</h2> 

  <form id="comment-form"> 

    <div class="comment-group">
        <input type="text" id="theName" name="name" value="" placeholder="name or email if you want answer">
        <textarea rows="4" placeholder="Write something" id="theComment"></textarea>
        <button class="button" id="sendComment" type="submit">Send!</button>
    </div> 
     
  </form>
  <p id="thanksComment"><strong>Thanks!</strong></p>

  <ul id="commentBoard">
    
  </ul>
  

</div>