<div class="comments">

  <h2>Leave a comment:</h2> 

  <form id="comment-form"> 

    <div class="comment-group">
        <input type="text" id="theName" name="name" value="" placeholder=" name, nick or email">
        <textarea rows="4" placeholder="Leave a comment or ask something..." id="theComment"></textarea>
        <button class="button" id="sendComment" type="submit">Submit!</button>
    </div> 
     
  </form>
  <p id="thanksComment"><strong>Thanks!</strong></p>

  <ul id="commentBoard">
    
  </ul>
  

</div>