<div class="header {{ post.style }}">
    <a href="{{ post.url | prepend:site.baseurl }}">
        <div class="header_img">
            <div class="header_wrap">
                <div class="title">{{ post.title }}</div>
                <div class="thumb">
                {% if post.cover %}
                    <div><img data-src="assets/posts/{{ post.slug }}/{{ post.cover }}" /></div>
                {% endif %}
                </div>
                <div class="date">{{ post.subtitle }}</div>
            </div>
        </div>
    </a>
</div>