/* . */

header.index .red{
    color: #fe3509;
}
header.index .blue{
    color: #0977fe;
}
header.index .purple{
    color: #842A94;
}
header.index .orange{
    color: #FFBD0B; /* #F89E41 */
}


/* default: GREY */
header{
    background-color: #222; 
    background: linear-gradient(125deg, #555, #222);
    border-bottom: 5px solid #555;   
}
article h2{
    color: #555;
    border-top: 1px dashed rgba(0,0,0, .4);
}
article blockquote{
    border-color: #555;
    background-color: rgba(0,0,0, .08);
    color: #222;
}
footer a, article a{
    color: #555;
}
footer a:hover, article a:hover{
    color: white;
    background-color: #555;
}
article #index li:hover{
    background-color: #555;
}
#index a{
    color: #555;
}
.grid_item.padded > img{
    border-color:#555;
}
article.excerpt .header_wrap:before{
    border-right-color: #555;
}
article.excerpt .header_img{
    border-color: #555;
}
article.excerpt a:hover{
    background-color: #555;
}
p > code, li > code{
    color: #fff;
    background-color: #333;
}
article p a{
    color: #333;
}

/* PURPLE */
.purple header{
    background-color: #3F26A0; 
    background: linear-gradient(125deg, #842A94, #3F26A0);
    border-bottom: 5px solid #842A94;   
}
.purple article h2{
    color: #842A94;
    border-top: 1px dashed rgba(0,0,0, .4);
}
.purple article blockquote{
    border-color: #842A94;
    background-color: rgba(0,0,0, .08);
    color: #3F26A0;
}
.purple footer a, .purple article a{
    color: #842A94;
}
.purple footer a:hover, .purple article a:hover{
    color: white;
    background-color: #842A94;
}
article #index li.purple:hover{
    background-color: #842A94;
}
#index .purple a{
	color: #842A94;
}
.purple .grid_item.padded > img{
    border-color:#842A94;
}
article.excerpt .purple .header_wrap:before{
    border-right-color: #842A94;
}
article.excerpt .purple .header_img{
    border-color: #842A94;
}
article.excerpt .purple a:hover{
    background-color: #842A94;
}
.purple p > code, .purple li > code{
    color: #fff;
    background-color: #842A94;
}
article p.purple a{
    color: #842A94;
}
article p.purple a:hover{
    color: #fff;
    background-color: #842A94;
}



/* Red */
.red header{
    background-color: #a90112; 
    background: linear-gradient(125deg, #fe3509, #a90112);
    border-bottom: 5px solid #fe3509;   
}
.red article h2{
    color: #fe3509;
    border-top: 1px dashed rgba(0,0,0, .4);
}
.red article blockquote{
    border-color: #fe3509;
    background-color: rgba(0,0,0, .08);
    color: #a90112;
}
.red footer a, .red article a{
    color: #fe3509;
}
.red footer a:hover, .red article a:hover{
    color: white;
    background-color: #fe3509;
}
article #index li.red:hover{
    background-color: #fe3509;
}
#index .red a{
    color: #fe3509;
}
.red .grid_item.padded > img{
    border-color:#fe3509;
}
article.excerpt .red .header_wrap:before{
    border-right-color: #fe3509;
}
article.excerpt .red .header_img{
    border-color: #fe3509;
}
article.excerpt .red a:hover{
    background-color: #fe3509;
}
.red p > code, .red li > code{
    color: #fff;
    background-color: #a90112;
}
article p.red a{
    color: #fe3509;
}
article p.red a:hover{
    color: #fff;
    background-color: #fe3509;
}





/* Blue */
.blue header{
    background-color: #0115a9; 
    background: linear-gradient(125deg, #0977fe, #0115a9);
    border-bottom: 5px solid #0977fe;   
}
.blue article h2{
    color: #0977fe;
    border-top: 1px dashed rgba(0,0,0, .4);
}
.blue article blockquote{
    border-color: #0977fe;
    background-color: rgba(0,0,0, .08);
    color: #0115a9;
}
.blue footer a, .blue article a{
    color: #0977fe;
}
.blue footer a:hover, .blue article a:hover{
    color: white;
    background-color: #0977fe;
}
article #index li.blue:hover{
    background-color: #0977fe;
}
#index .blue a{
    color: #0977fe;
}
.blue .grid_item.padded > img{
    border-color:#0977fe;
}
article.excerpt .blue .header_wrap:before{
    border-right-color: #0977fe;
}
article.excerpt .blue .header_img{
    border-color: #0977fe;
}
article.excerpt .blue a:hover{
    background-color: #0977fe;
}
.blue p > code, .blue li > code{
    color: #fff;
    background-color: #0115a9;
}
article p.blue a{
    color: #0977fe;
}
article p.blue a:hover{
    color: #fff;
    background-color: #0977fe;
}





/* Orange */
.orange header{
    background-color: #F89E41; 
    background: linear-gradient(125deg, #FFBD0B, #F89E41);
    border-bottom: 5px solid #FFBD0B;   
}
.orange article h2{
    color: #FFBD0B;
    border-top: 1px dashed rgba(0,0,0, .4);
}
.orange article blockquote{
    border-color: #FFBD0B;
    background-color: rgba(0,0,0, .08);
    color: #F89E41;
}
.orange footer a, .orange article a{
    color: #FFBD0B;
}
.orange footer a:hover, .orange article a:hover{
    color: white;
    background-color: #FFBD0B;
}
article #index li.orange:hover{
    background-color: #FFBD0B;
}
#index .orange a{
    color: #FFBD0B;
}
.orange .grid_item.padded > img{
    border-color:#FFBD0B;
}
article.excerpt .orange .header_wrap:before{
    border-right-color: #FFBD0B;
}
article.excerpt .orange .header_img{
    border-color: #FFBD0B;
}
article.excerpt .orange a:hover{
    background-color: #FFBD0B;
}
.orange p > code, .orange li > code{
    color: #fff;
    background-color: #F89E41;
}
article p.orange a{
    color: #FFBD0B;
}
article p.orange a:hover{
    color: #fff;
    background-color: #FFBD0B;
}
