body{
    font-family: 'Lora', serif; 
    background-color: #FEFEFE;
    color: #333;
}

header{
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}



header h1{
    color: #fff;
    font-weight: normal;
}

header p{
    color: #fff;
    opacity: .5;
    display: inline-block;
    padding: .2rem;
    padding-bottom: .5rem;
    font-size: .8rem;
}

header small{
    display: block;
    font-size: 70%;
    color: #999;
    padding-top: .5rem;
}

header a{
    color: #fff;
}

footer{
    border-top: 1px solid #eee;
    margin-top: 1rem;

    width: 100%;
    text-align: center;
    padding: 0 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem; 
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}

footer > *{
    flex: 1;
    padding: .5rem;
    display: block;
}

@media (min-width: 460px) {
    footer{
        flex-direction:row;
    }
}


footer a{
    font-size: 1rem;
}

#index span{
    font-size: .7rem;
}
#index{
    list-style-type: none;
}
#index li{
    text-decoration: none;
    padding: .4rem;
    transition: all .3s;
    text-align: center;
    cursor: pointer;
}
#index li:hover{
    text-decoration: none;
}
#index a{
    text-decoration: none;
    background-color: none;
}
article #index a:hover{
    background-color: transparent;
}
#index li:hover a{
    color: white;
    background-color: transparent;
}

article p.scream{
    padding:.5rem;
    background-color: #FFFF99;
}
article p.scream span{
    font-size: .6rem;
    color: #555;
    display: block;
    text-align: center;
}

article h2{
    text-align: left;
    font-style: italic;
    display: block;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

article blockquote{
    border-left: .5rem solid #333;
    color: #000;
}

article .contrib{
    font-size: .9rem;
}

article p.perma{
    font-size: .9rem;
}

footer a, article a{
}


footer a, article a{
    color: #333;
}
footer a:hover, article a:hover{
    color: white;
    text-decoration: none;
}


ol.rules{
    padding: 0;
    
}
ol.rules li{
    padding-left: .5rem;
    background-color: #eee;
    border-left: 2px solid #ccc;
}
ol.rules li p{
    margin-top: .2rem;
    margin-bottom: .2rem;
}



pre.highlight{
    padding: .5rem;
    border: 1px solid #ddd;
    overflow: auto;
    max-height: 400px;
    background-color: lightyellow;
    line-height: 1.4rem;
}
code{
    font-size: 1rem;
}

p > code, li > code{
    font-weight: bold;
}

.highlight.lineselect code > span:not(.pick){
    color:#ccc;
}

.highlight.lineselect .pick span{
}

.language-diff{
    color:#999;
}

.list .date{
    font-size: .8rem;
    color: #999;
}

.list .aggr_togg{
    cursor: pointer;
}







.followme{
    background-color: #FFFFDF;
    padding-bottom: .5rem;
}
.followme > p{
    padding: 0 1rem;
}
.followme > h2{
   padding: 1rem;
   padding-bottom: 0; 
}

.adme{
    background-color: #eee;
}

.newsletter-box{
    margin-top: 1rem;
    background-color: #FFFFDF;
    padding: 1rem;
    border: 1px dashed #555;
}
.newsletter-box p{
    margin-top: 0;
}
.newsletter-box .email-group{
    display: block;
}
.newsletter-box .email-group input{
    flex:2;
    padding: .4rem;
}
.newsletter-box .email-group button{
    flex:1;
    padding: .4rem;
    background-color: #eee;
    border:none;
    width: 100%;
}

#thanksEmail{
    display: none;
    margin-bottom: 0;
    margin-top: 1rem;
}

@media (min-width: 460px) {
    .newsletter-box .email-group{
        display: flex;
    }
}



.comments{
    background-color: #FFFFDF;
    padding-bottom: .5rem;
}
.comments > p{
    padding: 0 1rem;
}
.comments > h2{
   padding: 1rem;
   padding-bottom: 0; 
}

.comments .comment-group{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.comments .comment-group > *{
    margin-bottom: 1rem;
    padding: .5rem;
    font-size: .9rem;
}

.comments #thanksComment{
    display: none;
}

.comments .comment-group button{
    flex:1;
    background-color: #eee;
    border:none;
    width: 100%;
}

.comments #commentBoard{
    list-style-type: none;
}






.related{
    background-color: #eee;
    padding-bottom: .5rem;
}
.related > p{
    padding: 0 1rem;
}
.related > h2{
   padding: 1rem;
   padding-bottom: 1rem; 
}


.related_item{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.related_item img{
    width: 100%;
    display: inherit;
}
.related_item a{
    padding: .15rem;
    text-align: center;
}

@media(min-width: 460px){
    .related_item{
        flex-direction: row;
        justify-content: start;
    }
    .related_item img{
        width: 150px;
    }
    .related_item a{
        text-align: left;
    }
}