{% include header.html %}



    <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>
    </header>


    


    {{ content }}

 

    <footer>
        <a href="/blog/index.html">Index</a>
        <a href="/index.html">About</a>
    {% if page.HN != null %}
        <a href="https://news.ycombinator.com/item?id={{ page.HN }}">On HN</a>
    {% endif %}
        <a href="https://twitter.com/fabiofranchino">On TW</a>
        <a href="https://fabiofranchino.com/blog/feed.xml">RSS</a>
    </footer>
    


{% include footer.html %}
