{% include header.html %}



    <header>
        <h1>Adventures in Data Visualization</h1>
        
        <p>
        {% assign words = content | number_of_words %}
        {% if words < 360 %}
          1 min. read
        {% else %}
          {{ words | divided_by:180 }} min. read
        {% endif %}
        </p>
    </header>


    


    <section>
        <article>

            <blockquote>
                This is an in-progress, very unstable, write-up of the lessons of Adventures in Data Visualization course. Here the <a href="index.html">Table of Content</a>.
            </blockquote>

            <h2>{{ page.title }}</h2>

            {{ content }}


            <hr />
            <p class="contrib">Spotted a typo or (likely) a grammar error? Send a <a href="https://github.com/fabiofranchino/blog/edit/master/{{page.path}}">pull request</a>.</p>

        </article>
    </section>


    <footer>
        <a href="/blog/index.html">Index</a>
        <a href="/index.html">About</a>
    {% if page.HN != null %}
        <a href="https://news.ycombinator.com/item?id={{ page.HN }}">On HN</a>
    {% endif %}
        <a href="https://twitter.com/fabiofranchino">On TW</a>
        <a href="https://fabiofranchino.com/blog/feed.xml">RSS</a>
    </footer>
    


{% include footer.html %}
