{% include header.html %}


<header class="index">

    <h3>Hello! I'm Fabio Franchino, senior creative technologist, data visualization specialist, entrepreneur, educator, dad, human.</h3>

    <p>Welcome to my Blog where you can find opinionated <span class="red">thoughts</span>, technical <span class="blue">tip&amp;tricks</span> and weird <span class="purple">side projects</span>.</p>

    <p>Have a good read!</p>

</header>

    
{{ content }}
		

<footer>
    <a href="/index.html">About</a>
    <a href="https://twitter.com/fabiofranchino">Follow on Twitter</a>
    <a href="https://fabiofranchino.com/blog/feed.xml">RSS</a>
</footer>


{% include footer.html %}