{% include header.html %}



	<header>
		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}

		- {% assign words = content | number_of_words %}
		{% if words < 360 %}
		  1 min. read
		{% else %}
		  {{ words | divided_by:180 }} min. read
		{% endif %}

		- in {% if post %}
	  	  {% assign categories = post.categories %}
	  	{% else %}
	  	  {% assign categories = page.categories %}
	  	{% endif %}
	  	{% for category in categories %}
	  		<a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
	  		{% unless forloop.last %}&nbsp;{% endunless %}
	  	{% endfor %}

	  	- <a href="/blog/index.html">Go to Index</a>
		</p>
	</header>


	


	<section>
		<article>


			<!-- <p class="scream"><a href="https://goo.gl/0GLSb3" target="blank"><img src="../assets/common/adventures_dataviz.png" alt=""></a><span>shameless advertising</span></p> -->

			{% if content contains "<!-- main_ad -->" %}
			{{ content | split:"<!-- main_ad -->" | first }}
			    {% include main_ad.html %}
			{{ content | split:"<!-- main_ad -->" | last }}
			{% else %}
			    {{ content }}
			{% endif %}


			{% include newsletter.html %}

			{% include related.html %}

			{% include comments.html %}

			{% include dropaline.html %}

			

			<hr />
			<p class="contrib">Spotted a typo or (likely) a grammar error? Send a <a href="https://github.com/fabiofranchino/blog/edit/master/{{page.path}}">pull request</a>.</p>

		</article>
	</section>


	<footer>
		<a href="/blog/index.html">Index</a>
		<a href="/index.html">About</a>
	{% if page.HN != null %}
		<a href="https://news.ycombinator.com/item?id={{ page.HN }}">On HN</a>
	{% endif %}
		<a href="https://twitter.com/fabiofranchino">On TW</a>
		<a href="https://fabiofranchino.com/blog/feed.xml">RSS</a>
	</footer>
	


{% include footer.html %}
